{% include 'header.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Add Article
        </title>
        <script type='text/javascript'>
            function preview_image(event) 
            {
             var reader = new FileReader();
             reader.onload = function()
             {
              var output = document.getElementById('imgId');
              output.src = reader.result;
             }
             reader.readAsDataURL(event.target.files[0]);
            }
        </script>
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>tinymce.init({selector:'#art_desc',
        mode: "exact",
        plugins : "save",
        menubar : false,
        toolbar: 'save | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify'});</script>
    </head>
    <body>
        {% for error in errors %}
            {{ error }}
            {{ "\n"|nl2br }}
        {% endfor %}
        <form method="post" action="add_article.php" enctype = "multipart/form-data">    

            <div>
                <div>
                    <p> {{ "Title:" }} 
                        <input type="{{ type|default('text') }}" name="{{ 'art_title' }}"  />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <p> {{ "Category:" }} </p>
                    <select name="{{ 'art_cat[]' }}" multiple>
                        {% for category in categories %}
                            <option value={{ category.cat_id }}> {{ category.title }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div>
                <div>
                    <p> {{ "Description:" }} </p>
                        <textarea name='art_desc' rows="20" cols="20" id="art_desc">  </textarea>
                </div>
            </div>

            <div>
                <div>
                    <p> {{ "Image:" }} </p>
                    <img id="imgId" width="50" height="50" />
                    <input type="{{ type|default('file') }}" name="{{ 'art_image' }}" onchange="preview_image(event)" />
                </div>
            </div>

            <div>
                <div>
                    <input type="{{ type|default('submit') }}" name="{{ 'add-article' }}" value="{{ 'Add' }}" />
                </div>
            </div>

        </form>
    </body>
</html>
