{% include 'header.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Edit Category
        </title>
    </head>
    <body>
        {% for error in errors %}
            {{ error }}
            {{ "\n"|nl2br }}
        {% endfor %}
        <form method="post" action="edit_category.php?cat_id={{ output.cat_id }}">    
            <div>
                <div>
                    <p> {{ "Title:" }} 
                        <input type="{{ type|default('text') }}" name="{{ 'edit_cat_title' }}"value="{{ output.title }}" />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <input type="{{ type|default('submit') }}" name="{{ 'edit-category' }}" value="{{ 'Edit' }}" />
                </div>
            </div>
        </form>
    </body>
</html>
