<!DOCTYPE html>
<html>
    <head>
        <title>
            Edit
        </title>
    </head>
    <body>
        {% for error in errors %}
            {{ error }}
            {{ "\n"|nl2br }}
        {% endfor %}
        <form method="post" action="edit.php">    
            <div>
                <div>
                    <p> {{ "First Name:" }} 
                        <input type="{{ type|default('text') }}" name="{{ 'firstName' }}"value="{{ output.first_name }}" />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <p>{{ "Last Name:" }}
                        <input type="{{ type|default('text') }}" name="{{ 'lastName' }}"value="{{ output.last_name }}" />
                    </p>
                </div>
            </div>
            
            <div>
                <div>
                    <p>{{ "Email:" }}
                        <input type="{{ type|default('text') }}" name="{{ 'email' }}" value="{{ output.email }}" />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <p>{{ "Phone No.:"}}
                        <input type="{{ type|default('text') }}" name="{{ 'phone' }}"value="{{ output.phone }}" />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <input type="{{ type|default('submit') }}" name="{{ 'edit-user' }}" value="{{ 'Edit' }}" />
                </div>
            </div>
        </form>
    </body>
</html>
