<!DOCTYPE html>
<html>
    <head>
        <title>
            Reset Password
        </title>
    </head>
    <body>
        {% for error in errors %}
            {{ error }}
            {{ "\n"|nl2br }}
        {% endfor %}
        <form method="post" action="verify_user.php">    
            <div>
                <div>
                    <p>{{ "Email:" }}
                        <input type="{{ type|default('text') }}" name="{{ 'email' }}"  />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <input type="{{ type|default('submit') }}" name="{{ 'verify-user' }}" value="{{ 'Submit' }}" />
                </div>
            </div>
        </form>
    </body>
</html>