<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
    </head>
    <body>
        <div style="float: right;">
            {% if session.email %}
                <ul>
                    <li> 
                        {{ "Welcome "~session.fname~" "~session.lname }} 
                    </li>
                    <li>
                        <a href="home.php">{{ "Home" }} </a>
                    </li>
                    <li>
                        <a href="edit.php">{{ "My Account" }}</a>
                    </li>
                    <li>
                        <a href="logout.php">{{ "Logout" }}</a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li>
                        <a href="home.php">{{ "Home" }} </a>
                    </li>
                    <li>
                        <a href="registration.php">{{ "Register" }}</a>
                    </li>
                    <li>
                        <a href="login.php">{{ "Login" }}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </body>
</html>