
<!-- {% include 'login.html.twig' %} -->
{% if not session.username %}
    {{ "Login fail" }}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
    </head>
    <body>
        <div style="float: right;">
            <ul>
                <li> 
                    {{ "Welcome "~session.username }} 
                </li>
                <li>
                    <a href="home.php">{{ "Home" }} </a>
                </li>
                <li>
                    <a href="myAccount.php">{{ "My Account" }}</a>
                </li>
                <li>
                    <a href="logout.php">{{ "Logout" }}</a>
                </li>
                <li>
                    <a href="registration.php">{{ "Register" }}</a>
                </li>
            </ul>
        </div>
    </body>
</html>
