{% include 'header.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            List of Articles
        </title>
    </head>
    <body>

        <p> <b> {{ "Articles:" }} </b> </p>
        
        <table border="1" width="600">
            <tr>
                <th> {{ "Title" }} </th>
                <th> {{ "Description" }} </th>
                <th> {{ "Images" }} </th>
            </tr>

            {% for values in output %}
                <tr>    
                    <td> {{ values.title }} </td>
                    <td> <p> {{ values.excerpt | raw }} <a href="readArticle.php?art_id={{ values.article_id }}">Read More</a> <p> </td>
                    <td> <img src="{{ values.thumb_img_path }}"> </td>
                </tr>
            {% endfor %}
        </table>
        <br>

        {% if countRecords>record_limit %}
            {% if page != 1 %} 
                <a href = "home.php?page=1"> 
                    {{ "First" }}
                </a>
            {% endif %}
            {% if page>=2 and page<=last %}
                <a href = "home.php?page={{ page-1 }}"> 
                    {{ page-1 }} 
                </a>
                <a href = "home.php?page={{ page }}"> 
                    {{ page }} 
                </a>
            {% endif %}
            {% if page != last %}
                <a href = "home.php?page={{ page+1 }}"> 
                    {{ page+1 }} 
                </a>
                <a href = "home.php?page={{ last }}"> 
                    {{ "Last" }} 
                </a>
            {% endif %}
        {% endif %}
    </body>
</html>
