{% include 'header.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Posts list
        </title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th> Id </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Email </th>
                <th> Contact </th>
            </tr>
            {% for values in output %}
                <tr>
                    <td> {{ values.id }} </td>
                    <td> {{ values.first_name }} </td>
                    <td> {{ values.last_name }} </td>
                    <td> {{ values.email }} </td>
                    <td> {{ values.phone }} </td>
                </tr>
                {% else %}
                    No users have been found.
            {% endfor %}
        </table>
    </body>
</html>
