<!DOCTYPE html>
<html>
    <head>
        <title>
            Registration Form
        </title>
    </head>
    <body>
        {% for error in errors %}
            {{ error }}
            {{ "\n"|nl2br }}
        {% endfor %}
        <form method="post" action="registration.php">    

            <div>
                <div>
                    <p> {{ "First Name:" }} 
                        <input type="{{ type|default('text') }}" name="{{ 'firstName' }}"  />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <p>{{ "Last Name:" }}
                        <input type="{{ type|default('text') }}" name="{{ 'lastName' }}"  />
                    </p>
                </div>
            </div>
            
            <div>
                <div>
                    <p>{{ "Email:" }}
                        <input type="{{ type|default('text') }}" name="{{ 'email' }}"  />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <p>{{ "Phone No.:"}}
                        <input type="{{ type|default('text') }}" name="{{ 'phone' }}"  />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <p>{{ "Password:" }}
                        <input type="{{ type|default('password') }}" name="{{ 'password' }}"  />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <p>{{ "Retype Password:" }}
                        <input type="{{ type|default('password') }}" name="{{ 'conf_password' }}"  />
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <input type="{{ type|default('submit') }}" name="{{ 'register-user' }}" value="{{ 'Register' }}" />
                </div>
            </div>
        </form>
    </body>
</html>
